/* colors -------------------------------------*/
:root {
    --primary-color: #141829;
    --secondary-color: #21294c;
    --tertiary-color: #f2dea8;
    --quaternary-color: #79766e;
    --quinary-color: #000000;
    --senary-color: #777777;
}

/* Global ---------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
    color: var(--tertiary-color);
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: var(--primary-color);
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 1.5em;
}

h2 {
    padding-top: 1.5em;
}

h3 {
    padding-top: 1.5em;
}

p {
    padding-top: 1.5em;
}

.about {
    text-decoration: none;
}

i.about {
    font-size: 2.5em;
}

.navbar {
    background-color: var(--secondary-color);
}

.content {
    flex: 1 0 auto;
}

.nav-links {
    color: var(--tertiary-color);
    text-decoration: none;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.text-logo {
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Media Queries for respnsivness ---------------------------------------------------------------*/

/* Phones */
@media screen and (max-width: 600px) {
    .wrapper-small{
        padding-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .content {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
    }
    .navbar {
        padding-bottom: 10px;
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        font-size: 22px;
    }
    .main-nav {
        list-style-type: none;
        display: none;
    }
    .active {
        display: block;
    }
    .main-nav li {
        text-align: center;
        margin: 15px auto;
    }
    .logo {
        text-decoration: none;
        color: var(--tertiary-color);
        display: inline-block;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .nav-links {
        font-size: 18px;
    }
    footer {
        font-size: 13px;
    }
}

/* Large Phones / Portrait Tablets*/
@media screen and (min-width: 600px) {
    .content {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 60px;
        margin-left: 60px;
    }
    .navbar {
        padding-bottom: 10px;
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        font-size: 22px;
    }
    .main-nav {
        list-style-type: none;
        display: none;
    }
    .active {
        display: block;
    }
    .main-nav li {
        text-align: center;
        margin: 15px auto;
    }
    .logo {
        text-decoration: none;
        color: var(--tertiary-color);
        display: inline-block;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .nav-links {
        font-size: 18px;
    }
    footer {
        font-size: 13px;
    }
    footer .footer-icons {
        font-size: 20px;
    }
}

/* Landscape Tablets */
@media screen and (min-width: 768px) {
    .content {
        margin-top: 50px;
        margin-left: 20vw;
        margin-right: 20vw;
        margin-bottom: 50px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        list-style-type: none;
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
        font-size: 18px;
    }
    .logo {
        text-decoration: none;
        color: var(--tertiary-color);
        display: inline-block;
        font-size: 22px;
        padding-bottom: 5px;
        margin-left: 30px;    
    }
    .navbar-toggle {
        display: none;
    }

}

/* Laptops / Desktops */
@media screen and (min-width: 992px) {
    .content {
        margin-top: 50px;
        margin-left: 40vw;
        margin-right: 40vw;
        margin-bottom: 50px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        list-style-type: none;
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
        font-size: 18px;
    }
    .logo {
        text-decoration: none;
        color: var(--tertiary-color);
        display: inline-block;
        font-size: 22px;
        padding-bottom: 5px;
        margin-left: 30px;    
    }
    .navbar-toggle {
        display: none;
    }
    
    footer {
        font-size: 16px;
    }

    
}

/* Large Laptops and Desktops */
@media screen and (min-width: 1200px) {
    .wrapper-small{
        padding-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-auto-rows: minmax(125px, auto);
    }
    .content {
        margin-top: 50px;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-bottom: 50px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        list-style-type: none;
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
        font-size: 18px;
    }
    .logo {
        text-decoration: none;
        color: var(--tertiary-color);
        display: inline-block;
        font-size: 22px;
        margin-left: 30px;    
    }
    .navbar-toggle {
        display: none;
    }
}

footer .footer-icons {
    font-size: 1.5em;
}

footer .footer-icons a {
    padding-left: 0.25em;
    padding-right: 0.25em;
}


/* Hover.CSS ------------------------------------------------------------------------------------*/

/* Fade ---------------------------------------*/
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
  }

.hvr-border-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 0 0 0 4px var(--secondary-color), 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
    box-shadow: inset 0 0 0 4px var(--tertiary-color), 0 0 1px rgba(0, 0, 0, 0);
/* Hack to improve aliasing on mobile/tablet devices */
}
  
/* float --------------------------------------*/
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* Forward ------------------------------------*/
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}